FistAssignmentIntroSde/src/xsdschema/peopleSchema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="personType">
		<xsd:sequence>
			<xsd:element name ="firstname" type="xsd:string" />
			<xsd:element name ="lastname"  type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="person" type="personType"/>
	<xsd:complexType name = "peopleType">
		<xsd:sequence>
			<xsd:element name ="person" type = "personType"/>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="people" type="peopleType"/>
</xsd:schema>