FistAssignmentIntroSde/src/xsdschema/prova.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="personType">
<xsd:sequence>
<xsd:element name="firstName" type="xsd:string"/>
<xsd:element name="lastName"  type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="person" type="personType"/>
</xsd:schema>