FistAssignmentIntroSde/src/xsdschema/xsdschemapart2.xml

<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="peopleType">
		<xsd:sequence>
			<xsd:element name="person" type="personType" maxOccurs="unbounded" />
		</xsd:sequence>    
	</xsd:complexType>
	<xsd:complexType name="healthprofileType">
		<xsd:sequence>
			<xsd:element name="weight" type="xsd:decimal" minOccurs="1" maxOccurs="1" />
			<xsd:element name="height" type="xsd:decimal" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>    
	</xsd:complexType>
	<xsd:complexType name="personType">
		<xsd:sequence>
			<xsd:element name="firstname" type="xsd:string"	minOccurs="1" maxOccurs="1" />
			<xsd:element name="lastname"  type="xsd:string"	minOccurs="1" maxOccurs="1" />
			<xsd:element name="healthprofile"  type="healthprofileType" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="people" type="peopleType"/>

</xsd:schema>